<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.motong.mapper.BankMapper">
   
   <select id="getmoimAccount" parameterType="Integer" resultType="AccountDto">
   		SELECT account_seq,user_seq,fintech_use_num,account_num_masked,balance_amt, bank_name
		FROM account 
		WHERE account_seq = #{account_seq}
   </select>
	
</mapper>

