<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.motong.mapper.MoimMapper">
   
   <select id="subsMoim" parameterType="Integer" resultType="MoimDto">
      SELECT moim.MOIM_SEQ, moim.LEADER, moim.ACCOUNT_SEQ, moim.MNAME, user.NAME
	  FROM user JOIN moim ON user.USER_SEQ = moim.LEADER
			JOIN user_moim ON moim.MOIM_SEQ = user_moim.MOIM_SEQ
	  WHERE user_moim.USER_SEQ=#{user_seq}; 
   </select>

	<select id="moimLeader" parameterType="Integer" resultType="String">
		SELECT user.NAME
		FROM user 
		WHERE user.USER_SEQ IN (SELECT moim.leader
				FROM user JOIN moim ON user.USER_SEQ = moim.LEADER
				JOIN user_moim ON moim.MOIM_SEQ = user_moim.MOIM_SEQ
				WHERE user_moim.USER_SEQ=#{user_seq});
	</select>
	
	<select id="moimName" parameterType="Integer" resultType="String">
		SELECT MNAME
		FROM moim 
		WHERE account_seq = #{account_seq};
	</select>
	
	<!-- 모임리스트 -->
	<select id="getPCount" resultType="int">
		SELECT CEIL(COUNT(*)/10) pageCount 
		FROM moim
	</select>
	
	<select id="getMoimList" parameterType="String" resultType="MoimDto">
		SELECT moim_seq,leader,account_seq,mname,pin,NAME
		FROM (
				SELECT ROW_NUMBER() over(ORDER BY moim_seq) rn,
						 moim_seq,leader,account_seq,mname,pin,NAME
				FROM moim LEFT OUTER JOIN user ON moim.leader = user.USER_SEQ) a
		where CEIL(rn/10)=#{pnum}		
	</select>

	<select id="getMyAccountList" parameterType="Integer" resultType="MoimDto">
		SELECT account_seq,account_num_masked, bank_name, delflag
		FROM account
		WHERE user_seq = #{user_seq}
	</select>
	
	<!--  모임 추가할때 -->
	<insert id="addMoim" parameterType="MoimDto">
		INSERT INTO moim
		VALUES (NULL, #{leader}, #{account_seq}, #{mname}, #{pin})
	</insert>
	
	<select id="getMoimSeq" parameterType="int" resultType="int">
		SELECT moim_seq
		FROM moim
		WHERE account_seq = #{account_seq}
	</select>
	
	<insert id="addUserMoim" parameterType="Map">
		INSERT INTO user_moim
		VALUES (#{user_seq}, #{moim_seq})
	</insert>
	
	<update id="updateAcDelflag" parameterType="Integer">
		UPDATE account
		SET delflag = 'Y'
		WHERE account_seq = #{account_seq}
	</update>
	
	<select id="moimSearch" parameterType="String" resultType="MoimDto">
		SELECT moim.MOIM_SEQ, user.NAME, moim.ACCOUNT_SEQ, moim.MNAME, moim.PIN
		FROM moim JOIN user ON moim.LEADER = user.USER_SEQ
		WHERE MNAME LIKE CONCAT('%',#{searchData},'%')
	</select>
</mapper>
