<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.motong.mapper.MoimMapper">
	
	<select id="getPCount" resultType="int">
		SELECT CEIL(COUNT(*)/10) pageCount 
		FROM moim
	</select>
	
	<select id="getMoimList" parameterType="MoimDto">
		SELECT moim_seq,leader,account_seq,mname,pin,NAME
		FROM (
				SELECT ROW_NUMBER() over(ORDER BY moim_seq) rn,
						 moim_seq,leader,account_seq,mname,pin,NAME
				FROM moim LEFT OUTER JOIN user ON moim.leader = user.USER_SEQ) a
		-- WHERE rn BETWEEN 11 AND 20;
		WHERE CEIL(rn/10)=1;

	</select>
	
	<select id="getMyAccountList" parameterType="Integer" resultType="String">
		SELECT account_num_masked
		FROM account
		WHERE user_seq = #{user_seq}
	</select>
	
</mapper>
